/* Elementos usados por todos os html's (header, flex do div, etc) */

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    background-color: #C4D1FF;
}

header {
    background-color: #4F6099;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 15px;
}

header img {
    height: 40px;
}

header div {
    display: flex;
    gap: 15px;
}

header div a {
    text-decoration: none;
    font-size: x-large;
    color: #FFF;
}

header a:hover {
    color: #7FDBFF;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}